.App {
  text-align: center;
  background-color: white;
}

.home {
align-items: center;
min-height: 100vh;
}

.home .Header {
text-align: center;
margin-top: 5px;
margin-bottom: -20px;
margin-left: 45px;
margin-right: 45px;
}

.home h3 {
  font-size: 55px;
  font-family: 'Sora', sans-serif;
  text-align: center;
  margin-top: 5px;
  margin-bottom: -20px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5xp;
  border-color: black;
}

.home h2 {
  color: bold;
  font-family: 'Sora', sans-serif;
}

.home h1 {
  font-size: 45px;
  font-family: 'Sora', sans-serif;
  text-align: center;
}

.home button {
  background: white;
  font-size: 30px;
  border-radius:30px 0 30px 0;
  font-family: 'Sora', sans-serif;
text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -310px;
  margin-right: 165px;

}


 .about h2 {
  color: blue;
  caption-side: center;
  color: bold;
}

.header {
display: grid;
background-color: black;
text-align: center;
}

.header .col1 {
display: inline-grid;
color:red;
text-align: center;

background-color: black;
margin-top: 5px;
margin-bottom: -20px;
margin-left: 5px;
margin-right: 5px;
border-radius: 5xp;
border-color: black;

}

.col1  {
grid.columns: 2px;
color:black;

}


.col2 {
grid.columns: 2px;
}

.header .menu {
display: inline-block;
width: 100%;
text-align: center;
}


.header .menu h3 {
display: inline-block;
background-color: white;
color: red;
font-family: 'Sora', sans-serif;
margin-top: 10px;
margin-bottom: 10px;
margin-left: 10px;
margin-right: 15px;

padding-top: 5px;
padding-bottom: 5px;
padding-left: 10px;
padding-right: 10px;

border-radius: 10xp;
border-color: blue;
border-style: solid;
text-align: center;

}

.header .menu h3 {
  color: red;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 15px;

}




.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: blue;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App {
  text-align: bottom;
}

.footer {
display: grid;
columns:  2fr 2fr;
background-color: black;
}

.footer .menu {
display:  inline-table;
width: 110%;
text-align: center;
}


.footer .menu h3 {
display: inline-block;
background-color: white;
color: red;
font-size: 20px;
font-family: 'Josefin Sans', sans-serif;
margin-top: 15px;
margin-bottom: 15px;
margin-left: -5px;
margin-right: 85px;

padding-top: 5px;
padding-bottom: 5px;
padding-left: 75px;
padding-right: 75px;

border-radius: 10xp;
border-color: Blue;
border-style: solid;
text-align: center;
}


.about {
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(12, calc(100vw / 12));
  grid-template-rows: auto;
}

.about h3 {
display: inline-block;
background-color: white;
border-radius: 10xp;
border-color: bold;
border-style: solid;
text-align: top;
grid-column: 4;
grid-column-end:spam 2;
grid-row: 4;

}

.about h2 {
display: inline-block;
background-color: white;
color: black;
border-radius: 10xp;
border-color: bold;
border-style: solid;
text-align: top;
grid-column: 4/6;
grid-column-end:spam 2;
grid-row: 3;
}

.about h1 {
grid-column: 4;
grid-column-end:spam 4;
grid-row: 1;
text-align: center;

}

.about .AU {
grid-column: 4;
grid-column-end:spam 4;
grid-row: 2;
text-align: center;

}

.about .dreamcar {
grid-column: 7;
grid-column-end:spam 2;
grid-row: 3;
grid-row-end:spam 2;
text-align: center;

}

.about .dreamcar-img {
  height: 100%;
  width: 100%;


}

.car h1 {
  color: blue;
}

.car button {
  display: block;
  background: transparent;
  border-style: solid;
  font-family: sans-serif;

}

.car_lot{
  height: 280px;
  width: 280px;

}

.About_img{
  height: 200px;
  width: 200px;
  background: transparent;

}

.logo{
  height: 200px;
  width: 200px;
  background: transparent;

}

.Car2{
  height: 200px;
  width: 200px;

}
.App-logo {
  height: 50vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-footer {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: bottom;
  justify-content: bottom;
  font-size: calc(10px + 2vmin);
  color: white;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
